body {
    background-color: #5dacbd;
}

.test {
    color: black;
    font-size: 50px;
}

.test2 {
    background-color: #5dacbd;
    border: 5px solid #5dacbd;
    border-radius: 10px;
}
.test2:hover {
    background-image: linear-gradient(#FF0000, #00FF00);
}

